Repository engmrms/react-mui-datepicker: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

refactor: simplify main component and enhance VirtualScroller with async loading capabilities
  src/Components/VirtualScroller.tsx
  src/Components/index.ts
  src/Components/stories/datadisplay/virtualScroller.stories.tsx
  src/main.tsx
Due: eslint --fix --max-warnings=0

Merged PR 20798: feat(DataTable): add sorting functionality and update component props (v0.5.14)
  package.json
  pnpm-lock.yaml
  src/Components/DataTable.tsx
  src/Components/index.ts
  src/Components/stories/datadisplay/dataTable.stories.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Merged PR 20938: chore: update version to 0.6.0
  package.json
Due: prettier --write

refactor: remove unused 'use client' directive from popover component
  src/Components/ui/popover.tsx
Due: eslint --fix --max-warnings=0

Merged PR 21067: feat(radial-stepper): add radial stepper component
  src/Components/stories/navigation/radial-stepper.stories.tsx
  src/Components/ui/radial-stepper.tsx
  src/Locales/ar.ts
  src/Locales/en.ts
Due: eslint --fix --max-warnings=0

Merged PR 21079: chore: update version to 0.7.0
  package.json
Due: prettier --write

feat(Table): enhance table styling and add new props
  dga.config.js
  src/Assets/css/base.css
  src/Assets/css/variables.css
  src/Components/DataTable.tsx
  src/Components/stories/datadisplay/dataTable.stories.tsx
  src/Components/stories/datadisplay/table.stories.tsx
  src/Components/ui/table.tsx
Due: eslint --fix --max-warnings=0, prettier --write

chore: update changelog for version 0.7.0
  src/Components/stories/changelog.mdx
Due: prettier --write

Merged PR 21082: chore: update version to 0.7.1 and add PopoverClose component
  package.json
  src/Components/ui/popover.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Merged PR 21084: chore: update version to 0.7.2 and add RadialStepper component to exports
  package.json
  src/Components/index.ts
  src/Components/stories/navigation/radial-stepper.stories.tsx
  src/Components/ui/radial-stepper.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: add date-fns dependency and enhance TimePicker component
  package.json
  pnpm-lock.yaml
  src/Components/stories/controls/timePicker.stories.tsx
  src/Components/ui/TimePicker.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(DataTable): adjust padding for pagination controls
  src/Components/DataTable.tsx
Due: eslint --fix --max-warnings=0

feat(Table Story): add new table Story for responsive display
  src/Components/stories/datadisplay/table.stories.tsx
  src/Components/ui/table.tsx
Due: eslint --fix --max-warnings=0

feat(DataTable): add SortingUp icon for ascending sort state
  src/Components/DataTable.tsx
Due: eslint --fix --max-warnings=0

feat: enhance TimePicker stories and props for better customization
  src/Components/stories/controls/timePicker.stories.tsx
  src/Components/ui/TimePicker.tsx
Due: eslint --fix --max-warnings=0

Merged PR 21365: feat: enhance Filter component with custom item rendering
  package.json
  src/Components/Filter.tsx
  src/Components/stories/controls/filter.stories.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Merged PR 21452: fix(Filter): update media query breakpoint for mobile view
  src/Components/Filter.tsx
Due: eslint --fix --max-warnings=0

Merged PR 21453: chore: bump version to 0.8.1 in package.json
  package.json
Due: prettier --write

chore: update changelog for version 0.8.1 release
  src/Components/stories/changelog.mdx
Due: prettier --write

feat: enhance Storybook documentation with footer component
  .storybook/preview.tsx
  .storybook/tetcoBrand.ts
  public/cover.png
  src/Components/stories/changelog.mdx
  src/Components/stories/footer.tsx
  src/Components/stories/index.mdx
  src/Components/stories/installation.mdx
  src/Components/stories/token/colors/color.mdx
  src/Components/stories/token/colors/colorToken.mdx
  src/Components/stories/token/effects/shadows.mdx
  src/Components/stories/token/layout/BorderRadius.mdx
  src/Components/stories/token/layout/breakpoints.mdx
  src/Components/stories/token/layout/spacing.mdx
  src/Components/stories/token/typography/fixedFontSizes.mdx
  src/Components/stories/token/typography/responsiveFontSizes.mdx
Due: eslint --fix --max-warnings=0, prettier --write

refactor: update typography and utility styles for improved consistency
  src/Assets/css/utilities.css
  src/Assets/css/variables.css
  src/Components/stories/token/colors/.colorToken.mdx
  src/Components/stories/token/colors/color.mdx
  src/Components/stories/token/colors/components/colors.ts
  src/Components/stories/token/effects/components/Shadows.tsx
  src/Components/stories/token/effects/shadows.mdx
  src/Components/stories/token/layout/BorderRadius.mdx
  src/Components/stories/token/layout/breakpoints.mdx
  src/Components/stories/token/layout/components/BorderRadius.tsx
  src/Components/stories/token/layout/components/Breakpoints.tsx
  src/Components/stories/token/layout/components/RowDetails.tsx
  src/Components/stories/token/layout/components/Spacing.tsx
  src/Components/stories/token/layout/spacing.mdx
  src/Components/stories/token/typography/components/FixedFontSizes.tsx
  src/Components/stories/token/typography/components/ResponsiveFontSizes.tsx
  src/Components/stories/token/typography/components/RowDetails.tsx
  src/Components/stories/token/typography/fixedFontSizes.mdx
  src/Components/stories/token/typography/responsiveFontSizes.mdx
Due: eslint --fix --max-warnings=0, prettier --write

fix: update Filter component state management and improve Storybook documentation
  src/Components/stories/controls/filter.stories.tsx
  src/Components/stories/datadisplay/heading.stories.tsx
  src/Components/stories/index.mdx
Due: eslint --fix --max-warnings=0, prettier --write

chore: bump version to 0.8.2 in package.json
  package.json
Due: prettier --write

Update package version to 2.0.0, enhance date picker component with new props, and add support for pnpm lockfile. Improve README and add CSS styles for better UI. Remove deprecated custom component.
  README.md
  dist/esm/index.d.ts
  dist/esm/index.js
  dist/esm/index.js.map
  dist/index.d.ts
  dist/index.js
  dist/index.js.map
  package.json
  pnpm-lock.yaml
  src/ar-sa.ts
  src/custom.tsx
  src/en-sa.ts
  src/index.tsx
  src/stories/DatePicker.stories.tsx
  src/style.css
  src/types.d.ts
  tsconfig.json
Due: eslint --fix --max-warnings=0, prettier --write

Refactor DatePicker and introduce Calendar component
  dist/esm/index.d.ts
  dist/esm/index.js
  dist/esm/index.js.map
  dist/index.d.ts
  dist/index.js
  dist/index.js.map
  src/index.tsx
  src/stories/Calendar.stories.tsx
Due: eslint --fix --max-warnings=0

Update package version to 2.0.1 for react-mui-datepicker
  package.json
Due: prettier --write

fix: update condition in FilterMobileView to fix issue in sm screen
  src/Components/Filter.tsx
Due: eslint --fix --max-warnings=0

fix: improve DataTable component rendering and selection handling
  src/Components/DataTable.tsx
Due: eslint --fix --max-warnings=0

fix: remove .prettierrc configuration file, update package version to 3.0.1
  .prettierrc
  package.json
  publish.sh
  src/Components/ui/DatePicker.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix: remove .prettierrc configuration file, update package version to 3.0.1 (#4)
  .prettierrc
  package.json
  publish.sh
  src/Components/ui/DatePicker.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Path conditions:
  eslint --fix --max-warnings=0: any of: **/*.{ts,tsx,js,jsx}
  prettier --write: any of: **/*.{css,md,mdx,json,yml,yaml,html}
